<!--EMPIEZA EL BODY-->
<body>
  
  <!--SUBTITULO-->   
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-12">
         <div class="mx-auto">
            <h3> Regístrate!</h3>
          </div>
      </div>
    </div>
  </div>
      
  <div class="container-fluid">
    <form (ngSubmit)= "Register()" [formGroup]= "formularioRegistrar">
        <div class="container">
          
          <div class="row">
            <div class="col-md-12">
              <div class="p">

               <!-- <form Correo electrónico > -->
                <div class="form-group w-50">
                  <label for="exampleFormControlInput1">Correo Electrónico</label>
                  <input type="email" formControlName="correo" class="form-control" id="correo" placeholder="nombre@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>

                    <div *ngIf="formularioRegistrar.controls['correo'].invalid && (formularioRegistrar.controls['correo'].dirty || formularioRegistrar.controls['correo'].touched)" class="alert alert-danger">
                      El correo electrónico ingresado no es válido.
                    <div *ngIf="formularioRegistrar.controls['correo'].errors.required">
                      El correo electrónico es obligatorio.
                    </div>
                      
                 </div>

              <!--   <form Nombre y apellido>-->
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Nombres</label>
                    <input type="text" formControlName="nombre_usuario" class="form-control" id="nombre_usuario" placeholder="Ejemplo: Juanito Antonio">
                  </div>

                    <div *ngIf="formularioRegistrar.controls['nombre_usuario'].invalid && (formularioRegistrar.controls['nombre_usuario'].dirty || formularioRegistrar.controls['nombre_usuario'].touched)" class="alert alert-danger">
                    <div *ngIf="formularioRegistrar.controls['nombre_usuario'].errors.required">
                        Los nombres son obligatorios.
                      </div>
                    </div>
              <!--   <form Nombre y apellido>-->
                <div class="form-group w-50">
                  <label for="exampleFormControlInput1">Apellido Paterno</label>
                  <input type="text" formControlName="apellido_paterno" class="form-control" id="apellido_paterno" placeholder="Ejemplo: Ortega">
                </div>

                  <div *ngIf="formularioRegistrar.controls['apellido_paterno'].invalid && (formularioRegistrar.controls['apellido_paterno'].dirty || formularioRegistrar.controls['apellido_paterno'].touched)" class="alert alert-danger">
                  <div *ngIf="formularioRegistrar.controls['apellido_paterno'].errors.required">
                      El Apellido Paterno es obligatorio.
                    </div>
                  </div>    

              <!--    <form Nombre de usuario>-->
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Apellido Materno</label>
                    <input type="usuarioName" formControlName="apellido_materno" class="form-control" id="apellido_materno" placeholder="Ejemplo: Reinoso">
                  </div>

                  <div *ngIf="formularioRegistrar.controls['apellido_materno'].invalid && (formularioRegistrar.controls['apellido_materno'].dirty || formularioRegistrar.controls['apellido_materno'].touched)" class="alert alert-danger">
                    <div *ngIf="formularioRegistrar.controls['apellido_materno'].errors.required">
                        El nombre de usuario es obligatorio.
                      </div>
                    </div>

              <!--<form Contraseña>-->
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Contraseña</label>
                    <input type="text" name="contraseña" inputmode="verbatim" formControlName="password" class="form-control" id="password" placeholder="Debe tener una letra mayúscula y un carácter no alfanumérico">
                  </div>

                  <div *ngIf="formularioRegistrar.controls['password'].invalid && (formularioRegistrar.controls['password'].dirty || formularioRegistrar.controls['password'].touched)" class="alert alert-danger">
                    <div *ngIf="formularioRegistrar.controls['password'].errors.required">
                        La contraseña es obligatoria.
                    </div>
                    
                    <mat-error *ngIf="formularioRegistrar.controls['password'].hasError('minlength')">
                      La contraseña no puede tener menos de 5 caracteres</mat-error>
                      
                    <mat-error *ngIf="formularioRegistrar.controls['password'].hasError('maxlength')" >
                      La contraseña no puede tener más de 10 caracteres.</mat-error>
                  </div>
                </div>
            </div>   
          </div> 
      </div>
        

          <!--<button type="submit" class="btn btn-primary">Submit</button>-->
      <div class="container">
        <div class="row "> <!-- esto crea una fila--> 
          <div class="col-md-2 margen" >
            <button type="submit" [disabled]="formularioRegistrar.invalid" class="btn btn-success">Submit</button>
            <div style="margin-top: 20px">
              <a [routerLink]="['login']" style="color: black;"> ¿Ya tienes una cuenta?</a>
            </div>
          </div> 
        </div>
              
         
      </div>
    </form>
    </div>  
          
<app-footer></app-footer>
</body>
